@import "addons.scss";
@import "navigator2.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in navigator2.scss */
.navigator2 {
  @include addons;
  @include navigator2;
}

/*
.menu {
	padding-top: 0px;
	background-color:#4b4b4b;
	width: 20%;
	left: 0;
	bottom: 0;
	
	.v-button {
		display: block;
	}

	.h1 {
		color: white;
		padding-top: 0px; 
	}
}
*/

.navigator2 .v-required-field-indicator {
	color: white;
	padding: 0 0.2em;
}

.hide-required-asterisk {
	/* Default settings on reindeer */
	
	color: white;
	padding-left:2px;
}


.content {
	height: 100%;
}
