@mixin navigator2-menu-view {
	
	.menu {
		padding-top: 0px;
		background-color: #F9FAFB; /* #4b4b4b */
		width: 17%;
		left: 0;
		bottom: 0;
		
		.v-button {
			display: block;
		}
	
		.menu-title.menu-title {
			background-color: white;
			color: #4783ee;
		}
		
		.h1,
		.h2,
		.h3,
		.h4 {
			color: black;
			padding-top: 0px; 
			text-align: center;
		}
		
		.user-menu, v-menubar-menuitem, v-menubar-menuitem-caption {
			width: 100%;
		}
		
		.menu-divider {
			padding-left: 1em;
		}

	}
	
	
	/*
	.treemenu {
		background-color:#ffffff;
	}
	*/


}

